.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 14rem;
  height: 3rem;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.75),
    70%,
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  margin: 20px;
  cursor: pointer;
}

.user img {
  width: 30px;
  height: 30px;
  justify-content: center;
  margin: 0 1rem 0 ;
}

.user p {
  font-size: 1.1rem;
  margin: 0 1rem 0 0rem;
}
